html {
  box-sizing:border-box;
}
h1, h2 {
  color: blue;
}
body {
  background-image: url('../images/background.jpg');
  background-size: 100% 100%;
}
p {
  color: blue;
  font-weight: bold;
}

.card-header {
  color: green;
  font-weight:bold;
  text-align: center;
}
.portrait{
  border:green 2px solid;
  margin-right:10px;
}
img {
  height:100px;
}
ul{
  /* justify-content: center; */
  display: flex;
}
li {
  list-style-type:none;
  text-align: center;
}
.enemyside, .allyFightSide {
  display: flex;
}
.name {
  text-align: center;
}
.hp{
  text-align: center;
  }