html {
  box-sizing:border-box;
}
img {
  width:100px;
  height:100px;
  padding:0;

}
.portrait {
  padding:10px;
  width:200px;
  border:green 1px solid;
}
ul{
  /* justify-content: center; */
  display: flex;
}
li {
  list-style-type:none;
  text-align: center;
}
.opponents {
  width:200px;

    justify-content:flex-start
}
.enemySide {
  width:200px;
    justify-content:flex-start;
    padding:10px;
   
}
.allySide {
  width:200px;
  justify-content:flex-start
  
}
.name {
  text-align: center;
}
.hp{
  text-align: center;
  }